<!-- The menu loader -->
<div class="menu">
    <!-- main click -->
    <div>
        <div class="main-menu">
            <i id="main-menu" class="fa-solid fa-circle-chevron-down"></i>
        </div>
    </div>
    <div class="menu-list" id="menu-list">
        <div class="add-menu">
            <a href="/add_todo"><i class="bi bi-plus-lg"></i></a>      <!-- add click -->
            <a href="/"><i class="bi bi-trash"></i></a>         <!-- delete click -->
            <a href="/"><i class="bi bi-house"></i></a>         <!-- home click -->
        </div>
    </div>
</div>